.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(239, 239, 239);
}

.feed_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:  50px;
    width: 60px;
}
.profile_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height:  50px;
}
.feed_button:hover{
    cursor: pointer;
    background: rgb(219, 219, 219);
}
.profile_button:hover{
    cursor: pointer;
    background: rgb(219, 219, 219);
}
